# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  # workaround for https://bugs.launchpad.net/ubuntu/+source/nodeenv/+bug/2091101
  node: 24.12.0

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files

- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.18.1
  hooks:
  - id: markdownlint-cli2

- repo: https://github.com/streetsidesoftware/cspell-cli
  rev: v9.1.0
  hooks:
    - id: cspell
