<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}

      <span class="no-print">
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>
      <div><!-- Pesky facebook alignment wrapper div -->
        <div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      </span>
      </div>
    </div>

    {% include footer.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40939561-1', 'auto');
      ga('send', 'pageview');

    </script>

    </body>
</html>
